.skills {
  margin-top: 25px;
}
.skills-section {
  margin: 50px;
  color: rgb(102, 97, 91);
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 5vh;
}
.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.3vh;
}
.description {
  font-weight: 400;
}
