.page-header {
  background-image: url("../../assets/img/landing-header.jpg");
  width: 100vw;
  padding: 50px;
}
.name {
  color: rgb(225, 228, 228);
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}
.img-travis {
  width: 40vw;
  border-radius: 28px;
}
h3 {
  padding: 15px;
  font-weight: 800;
}
.img-travis {
  opacity: 0.95;
}
