.contact {
  color: rgb(102, 97, 91);
  margin: 100px;
  font-family: "Montserrat", sans-serif;
}
.contact-title {
  font-size: 5vh;
  margin-bottom: 50px;
}
h5 {
  font-weight: 400;
  font-size: 2.5vh;
}
p {
  font-weight: 200;
  font-size: 1.8vh;
}
