.selected-works {
  background-color: rgb(11, 16, 17);
  padding: 50px;
  color: rgb(182, 184, 184);
  font-family: "Montserrat", sans-serif;
}
.card-avatar {
  max-width: 25vw;
  max-height: 25vh;
  margin: 10px auto 0;
  border-radius: 25px;
  overflow: hidden;
}
h1 {
  margin-bottom: 50px;
  font-size: 6vh;
}
.card-description {
  max-width: 25vw;
  max-height: 25vh;
  margin: 10px auto 0;
}
.author {
  margin-top: 15px;
  color: rgb(182, 184, 184);
}
.gitHubBtn {
  margin: 20px;
}
